* {
    margin: 0;
    padding: 0;
}
.container{
    max-width: 400px;
    border: 1px solid aquamarine;
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
    
}
.card{
    height: 150px;
    background-color: rgb(30, 94, 110);
    color: floralwhite;
    text-align: center;
    line-height: 150px;
}


.botao{
    border-radius: 15px;
    border-color: darkorchid;
    text-align: center;
    padding: 10px;
    background-color: purple;
    color: black;
    margin: 10px 10px 10px 10px;
    
}
.corTirarDiv{
    background-color: blueviolet;
}